.attack-hand
  .notice
    上がっている指の総数を当ててください
  .radio  
    %input{type: "radio",name:"call",value: 0,checked: "checked"}0
    %input{type: "radio",name:"call",value: 1}1
    %input{type: "radio",name:"call",value: 2}2
    %input{type: "radio",name:"call",value: 3}3
    %input{type: "radio",name:"call",value: 4}4