攻撃ページ

あげる指を選択してください

= form_for [@attack] do |f|
  
  右指
  %input{type: "radio",name:"right",value: 1}あげる
  %input{type: "radio",name:"right",value: 0}あげない
  左指
  %input{type: "radio",name:"left",value: 1}あげる
  %input{type: "radio",name:"left",value: 0}あげない


  上がっている指の総数を当ててください
  %input{type: "radio",name:"call",value: 0}0
  %input{type: "radio",name:"call",value: 1}1
  %input{type: "radio",name:"call",value: 2}2
  %input{type: "radio",name:"call",value: 3}3
  %input{type: "radio",name:"call",value: 4}4

  %input{type: "hidden", name:"turn_id",value: @turn.id}
  %input{type: "hidden", name:"turn_num",value: @turn.turn_num}
  %input{type: "hidden", name:"user_id", value: current_user.id}

  %input{type: "submit", value: "送信"}


