:javascript
  window.onload = setupRefresh;

  function setupRefresh() {
    setTimeout("refreshPage();", 3000);
  }
  function refreshPage() {
    window.location = location.href;
  }

.next-turn
  = link_to turns_result_path(@group,@turn) do
    結果ページへ

.notice
  = @notice  