.form
  %input{type: "hidden", name:"turn_id",value: @turn.id}
  %input{type: "hidden", name:"turn_num",value: @turn.turn_num}
  %input{type: "hidden", name:"user_id", value: current_user.id}
  %input{type: "submit", value: "くらえ！！",class: "turn-btn"}