.left-hand
  %input{id:"left-down",type: "radio",name:"left",value: 0,checked: "checked"}
    %label{for:"left-down"}
      %img{src:"/left-down.png", class:"up"}
  %input{id:"left-up",type: "radio",name:"left",value: 1}
    %label{for:"left-up"}
      %img{src:"/left-up.png", class:"up"}
