// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.group-title {
  color:blue;
  margin:0 auto;
  margin-top:50px;
  margin-bottom:60px;
  text-align: center;
  font-size: 50px;
}

.new_group ,.edit_group {
  margin: 0 auto;
  display: block;
  .group-id {
    display: block;
    height: 60px;
    width:450px;
    font-size:40px;
  }

  .hidden {
    width:1px;
    display: block;
  }
  .group-btn {
    display: block;
    height: 60px;
    width:100px;
    margin-top:2px;
    margin-left: 10px;
    background-color: yellow;
  }
}

.group-edit-btn {
  display: block;
  margin:0 auto;
  width:100px;
  background-color: yellow;
  height: 60px;
  
}

.max-notice {
  position:absolute;
  top:150px;
  left:35%;
  color:red;
  font-size:40px;
}

.members {
  height:50vh;
  margin-top: 150px;
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  .member {
    margin: 0 75px;
    line-height: 100px;
    width:30%;
    
    
    .member-img {
    height:30%;
    background-color: gray;
    border: 1px solid;
    }
    .member-p {
      
    }
    .member-name {
      text-align: center;
      background-color: black;
      color: white;
      height: 10vh;
      width:100%;
      line-height: 10vh;
      font-size:5vh;
    }
  }
}

