.title {
  color:red;
  margin:0 auto;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-top:50px;
  margin-bottom:60px;
  text-shadow: black 2px;
}

.group-list {
  font-size:35px;
  color: blue;
  margin-left:30px;
}
.groups {
  display: flex;
  justify-content: space-between;
  margin:0 30px;
  list-style: none;
  .group {
    background-color: white;
    font-size :30px;
    margin-left: 15px;
    text-decoration: none;
    color: black;
    .group-name{
      border: 2px solid black;
      height: 50px;
      line-height: 50px;
      text-align: center;
    }
  } 
}  

.button {
  display:block;
  margin: 0 auto;
  text-align: center;
  height: 70px;
  line-height: 70px;
  font-size:45px;
  background-color: skyblue;
  width:320px;
  margin-top:100px;
  padding-top:10px;
  padding-left:10px;
  a {
    text-decoration: none;
    color:white;
  }
}