// Place all the styles related to the turns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.notice {
  color:#012573;
  text-align: center;
  margin-top:70px;
  font-size: 20px;
}

.hands {
  display: flex;
  justify-content: center;
  margin-top:30px;
  height:150px;
  line-height: 80px;
  

  .right-hand {
    display: flex;
    padding:10px;
    margin-left: 30px;
    margin-right:30px;
    input {
      display: none;
    }
    label {
      margin: 3px;
      padding: 8px;
      height: 100px;
      width:100;
      border-radius: 10px;
      background:rgba(128, 128, 128, 0.1);
      cursor: pointer;
      cursor: hand;
    }
    input[type="radio"]:checked + label {
      /* マウス選択時の背景色を指定する */
      border:solid gray 2px;
      }
  }
  .left-hand {
    padding:10px;
    display: flex;
    margin-left: 30px;
    margin-right:30px;
    input {
      display: none;
    }
    label {
      margin: 3px;
      padding: 8px;
      height: 100px;
      width:100;
      border-radius: 10px;
      background:rgba(128, 128, 128, 0.1);
      cursor: pointer;
      cursor: hand;
    }
    input[type="radio"]:checked + label {
      background:rgba(128, 128, 128, 0.1);/* マウス選択時の背景色を指定する */
      border:solid gray 2px;
      }
  }
}



.radio {
  margin:30px;
  height:100px;
  line-height: 50px;
  padding:10px;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  
  input {
    display: none;
  }
  .attack-label {
    display: block;
    margin: 3px;
    padding: 8px;
    height: 50px;
    width:50px;     
    background:rgba(128, 128, 128, 0.1);
    border-radius: 10px;
    cursor: pointer;
    cursor: hand;
  }
  input[type="radio"]:checked + label {
    /* マウス選択時の背景色を指定する */
    border:solid gray 2px;
    }
}

.turn-btn {
  display: block;
  margin: 0 auto;
  margin-top:50px;
  background-color: red;
  border-radius:20px;
  color: white;
  height:60px;
  width:150px;
  font-size:20px;
  cursor: pointer;
  cursor: hand;
}

.result {
  .aite-result {
    margin-top:50px;
    font-size:25px;
    display: flex;
    justify-content: center;
    text-align: center;
    .left-hand,.right-hand{
      display: block;
        height:200px;
        width:200px;
      img{
        height:200px;
        width:200px;
      }
    }
  }

  .call {
    font-size: 45px;
    text-align: center;
    line-height: 100px;
    height: 100px;
    margin-left:40vh;
    margin-right:40vh;
    margin-bottom:40px;
    margin-top:20px;
    z-index: 100;
    width:120px;
    
    .call-text {
      height: 96px;
      z-index: 1;
      background-color: #fff;
      border: solid 2px black;
      border-radius:20px;
    }

    .atari {
      font-size: 20px;
      line-height:55px;
    }
  }
  .nakama-result {
    font-size:25px;
    display: flex;
    justify-content: center;
    text-align: center;
    .left-hand,.right-hand{
      display: block;
      height:200px;
      width:200px;
      img{
        height:200px;
        width:200px;
      }
    }
  }

}  





.next-turn {
  a {
  display: block;
  font-size: 20px;
  margin: 0 auto;
  background-color: red;
  border-radius: 20px;
  text-align: center;
  width:200px;
  height:45px;
  line-height: 45px;
  text-decoration: none;
  color: white;
  margin-top:90px;

  }
}

.victory {
  color: red;
  font-size:45px;
  text-align: center;
  margin-top:100px;
  margin-bottom: 80px;
}

.lose {
  color: blue;
  font-size:45px;
  margin:0 auto;
  text-align: center;
  margin-top:100px;
  margin-bottom: 80px;
}